@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
}
main {
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textAnimation {
  color: #fff;
  font-size: 70px;
  letter-spacing: 0.1em;
}
.textAnimation.fs35 {
  font-size: 35px;
}

.textAnimation:not(:first-of-type) {
  margin-top: 20px;
}

@keyframes ShowTextFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes ShowTextFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}

.textAnimation span {
  display: inline-block;
  animation: ShowText 2s backwards;
}

.textAnimation span:nth-of-type(odd) {
  animation: ShowTextFromTop ease-out 2s backwards;
}

.textAnimation span:nth-of-type(even) {
  animation: ShowTextFromBottom ease-out 2s backwards;
}
